<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>New User</title>
<link
	href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|
			Roboto:400,400i,700,700i"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.2/css/
			all.css"
	integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="../styles/main.css">
<link rel = "stylesheet" type="text/css" href="../styles/login.css">
</head>
<body>
	<div class="container">
		<header>
            <div><img src="../images/MEF-Logo.jpeg"></div>
            <h1>
                Morris Educational Foundation Scholarships</h1>
			<div class="navbar">
				<a href="index.html">Home</a>
				<div class="dropdown">
					<button class="dropbtn">
						Login <i class="fa fa-caret-down"></i>
					</button>
					<div class="dropdown-content">
                        <a href="login.html">Login</a> 
                        <a href="newUser.html">New User</a>
					</div>
				</div>
				<div class="dropdown">
					<button class="dropbtn">
						Reports <i class="fa fa-caret-down"></i>
					</button>
					<div class="dropdown-content">
                        <a href="scholarships.html">Scholarships</a>  
                        <a href="winners.html">Receipients</a>
					</div>
				</div>
				<div class="dropdown">
					<button class="dropbtn">
						Forms <i class="fa fa-caret-down"></i>
					</button>
					<div class="dropdown-content">
                        <a href="school.html">School Information</a> 
                        <a href="payment.html">Payment Request</a>
					</div>
				</div>
				
				
			</div>


		</header>
		<div class="main-and-sidebar-wrapper">
			<section class="main">
               <div class = "main_container">
        <div class = "form_container">
            <h1>New User</h1>
            <form class = "form" method="post" action="re" id = "form">
                <div class = "field_container">
                    <input class="name-field" type="text" placeholder="First Name"
							name="fname" pattern="[\w]{1,20}"
					required> 
                </div>
                <div class = "field_container">
                <input class="name-field" type="text"
							placeholder="Last Name" name="lname" pattern="[\w]{1,20}"
                    required>
                </div>
                <div class = "field_container">
                    <i class="fa fa-envelope icon"></i>
                    
                    <input type="text" placeholder="Enter Email" name="email" required>
                </div>
               
                <div class = "button_container">
                    <input type = "submit" value = "Submit" />
                </div>
            </form>
        </div>
    </div>
    <div id = "feedback">
    </div>
    <script type="text/javascript" src="../scripts/login.js"></script>
			</section>
			<aside class="sidebar">
				<h2>Current List of Scholarhips</h2>
				<ul>
					<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
					<li>Nulla sed arcu ut lacus euismod dictum. Quisque nec mi in
						nulla</li>
					<li>egestas accumsan sed vitae turpis. Quisque elementum neque
						a</li>
					<li>vestibulum pulvinar. Nullam sagittis ipsum vitae commodo</li>
					<li>scelerisque. Donec at odio ac erat feugiat convallis.
						Vestibulum a</li>
				</ul>
			</aside>
		</div>
		<footer>
			<div class="content-wrap">
				<h2>Let's Keep in Touch!</h2>

				<!-- Social media links. Add or remove any networks. -->
				<div class=contact-info>
					<a href="mailto:sangsporer@gmail.com">sangsporer@gmail.com</a> <a
						href="https://twitter.com/sangsporer"><i
						class="fab fa-twitter"></i></a> <a
						href="https://www.linkedin.com/in/sang-sporer-82866922/"><i
						class="fab fa-linkedin"></i></a> <a href="http://fb.me/sangsporer"><i
						class="fab fa-facebook"></i></a>
				</div>

				<p>Copyright 2019 by Sang Sporer</p>
			</div>


		</footer>
	</div>
</body>

</html>